#anchorPane {
    -fx-background-color: "white";
    -fx-border-style: "solid";
    -fx-border-color: "black";
}
#sequenceAnchorPane {
     -fx-background-color: "white";
     -fx-border-style: "solid";
     -fx-border-color: "black";
 }

Text {
    -fx-background-color: "white";
}

.text-field {
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-text-inner-color: black;
}

.text-field:focused {
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-text-inner-color: black;
}